In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/data/ds-riskeye/sourcedata/behavior.tsv', sep='\t', index_col=list(range(5)))

In [6]:
from bauer.models import RiskModel

In [7]:
df['n1'] = df['n_left']
df['n2'] = df['n_right']
df['p1'] = df['p_left']
df['p2'] = df['p_right']

df['choice'] = df['leftRight'] == 1

In [13]:
df[['p_left', 'chose_risky', 'leftRight', 'choice']]

                                     p_left  chose_risky  leftRight  choice
subject subject.1 run exptype block
1       1         1   2       1        1.00          1.0          1    True
                              1        1.00          0.0         -1   False
                              1        1.00          0.0         -1   False
                              1        1.00          0.0         -1   False
                              1        1.00          1.0          1    True
...                                     ...          ...        ...     ...
64      64        5   3       2        0.55          0.0          1    True
                              2        0.55          0.0          1    True
                              2        0.55          0.0          1    True
                              2        0.55          1.0         -1   False
                              2        0.55          0.0          1    True

[30720 rows x 4 columns]